*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  border: 1px solid black;
  width: 100%;
  display: flex;
  flex-direction: row;
  
}
#logo{
  display: inline-block;
  width: 20%;
  padding: 10px;
  border: 1px solid black;
}
#menu{
  display: inline-block;
  width: 80%;
  padding: 10px;
  border: 1px solid black;
}
main{
  padding: 10px;
}
section img{
  display: flex;
  width: 100%;
}
#img1{
  margin-top: 25px;
  display: flex;
  
}
#img1 img{
  display: flex;
  width: 40%;
  height: 300px;
}
#img1 p{
  display: flex;
  width: 60%;
  margin-left: 10px;

}
#img2{
  margin-top: 25px;
  display: flex;
}
.coluna{
  width: 33.3%;
}
article{
  margin-top: 25px;
  display: flex;
}
article p{
  display: flex;
  width: 60%;
}
article img{
  display: flex;
  width: 40%;
}
footer{
  padding: 10px;
  margin-top: 25px;
  display: flex;
}
.col{
  width: 25%;
}
@media screen and (max-width: 730px){
  header{
    width: 100%;
    display: block;
  }
  #logo{
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
  }
  #menu{
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
  }
  section img{
    display: block;  
  }
  #img1{
    align-items: center;
    justify-content: center;
    text-align: justify;
    display: block;
    
  }
  #img1 img{
    width: 100%;
  }
  #img1 p{
    margin-left: 0;
    width: 100%;
  }
  #img2{
    display: block;
  }
  .coluna{
    width: 100%;
  }
  article{
    margin-top: 25px;
    display: block;
  }
  article p{
    text-align: justify;
    display: flex;
    width: 100%;
  }
  article img{
    display: flex;
    width: 100%;
  }
}